body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-container, .container {
    padding: 20px;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: block;
}

h2 {
    color: #333;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

.requirements {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#user-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#vote-box {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.like-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like-pic {
    cursor: pointer;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #007bff;
    margin-bottom: 10px;
}

#like-Txt {
    font-size: 18px;
    color: #333;
}

#vote-para {
    margin-top: 20px;
}